* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.Portada {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


.Contenido-Parrafo {
  max-width: 1000px;
  margin: auto;
}


.Productos {
  margin : 10px 10px;
} 

.Parrafo {
 font-size: x-large;
 text-align: justify;
}

.Parrafo-Tienda {
  font-size: medium;
  text-align: center;
  padding: 15px 15px;
  max-width: 250px;
}
 

.Columna-Central {
  width: 1000px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: block;
  background-color: lightgray;
  border-style: solid;
  border-radius: 10px;
  padding-bottom: 50px;
}

.Contenedor-Imagenes {
  display: flex;
  flex-direction: row; 
  justify-content: center;
}


.Imagenes-Portada {
  height: 200px;
  width:  200px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  margin: 5px 5px;
}

.Imagen-Sola {
  height: 200px;
  width:  400px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  margin: 5px 5px;
}

.Imagenes-Tienda {
  height: 200px;
  width:  200px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  margin-top: 20px;
  text-align: justify;
}


.Icono-Amazon {
  height: 20px;
  width:  20px;
  margin-right: 5px;
}

.Logo-Amazon {
  height: 50px;
  width:  100px;
  margin-right: 5px;
}


.Link-amazon {
  text-decoration: none;
  color: black;

}


/* Barra de navegación */

.contenedor-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}


.Imagen-logo {
  padding-top: 50px;
  height: 120px;
   width: 400px;
}

.menu-horizontal {
  list-style: none;
  display: flex;
}

.menu-horizontal > li > a {
  display: block;
  padding: 15px 20px;
  color: darkgoldenrod;
  text-decoration: none;
  font-size: larger; 
}

.menu-horizontal > li > a:hover {
   background-color: #333;
}

.menu-vertical {
  position: absolute;
  display: none;
  list-style: none;
  width: 160px;
  background-color: black;
}

.menu-horizontal li:hover .menu-vertical {
  display: block;
}

.menu-vertical li a {
  display: block;
  color: white;
  padding: 10px 10px 10px 10px;
  text-decoration: none;

}

.menu-vertical li a:hover {
  color: darkgoldenrod;

}


/* Menú Hamburguesa */

.abrir-menu {
  display: none;
  margin-left: 60px;
}

.movil-menu {
  display: none;
}

.movil-lista-nav {
  display: none;
}


.movil-lista-nav li a {
  text-decoration: none;
  color: darkgoldenrod;
  font-size: larger;
  padding-right: 50px;
}

.movil-lista-nav li a:hover {
  color: blue;
}

.movil-lista-nav li {
  list-style: none;
}


/* Fin de Menú Hamburguesa */

.movil-menu {
  display: flex;
  width: 100%;
  justify-content: center ;
  align-items: center;
  background-color: #333;
  position: absolute;
}



/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {


  .Encabezado {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  

  /* Menú Hamburguesa */

  .abrir-menu {
    display: block;
    margin-right: 3%;
  }
  
  .contenedor-menu {
    display: flex;
    justify-content: space-between;
  }

  .menu-horizontal {
    display: none;
  }

  .movil-lista-nav {
    display: block;
  }

/* Fin Menú Hamburguesa */


  .Imagen-logo {
    width: 300px;
  }
  

  .ocultar-p {
    display: none;
    width: 100%;
  }

  .Columna-Central {
    width: 420px;
  }
  
  .Contenedor-Imagenes {
    flex-direction: column; /* Cambia a disposición vertical */
  }

  
  .Portada {
    flex-direction: column;
  }

  .Contenido-Parrafo {
    max-width: 400px;
    margin: auto;
  }

  .Imagen-Sola {
    width:  200px;
  }
  
}

/* Fin de Estilos para dispositivos móviles */


.ContenedorColumnas {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Estilos del pie de página */
footer {
  background-color:black;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
}

.redes-sociales {
  margin-top: 10px;
}

.boton-social {
  display: inline-block;
  background-color: #fff;
  color: #333;
  border: none;
  padding: 10px;
  margin: 0 5px;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}

.boton-social:hover {
  background-color: #333;
  color: #fff;
}

/* Estilos adicionales opcionales */
footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.IconRedes {
  height: 50px;
  width:  50px;
}

.redes-sociales a {
  margin-right:8px;
  margin-left: 8px;

}

